#playerContainer {
    min-height:500px;
    position:relative; width: 100%;
}
iframe{
    position:absolute
}

#thumbnailsContainer{
}
.row.thumbnails{
    margin: 19px;
    border: 1px solid #90acc7;
    padding: 10px;
}
.img{
    display: block;
    margin: 0 auto;
    
}

.row.thumbnails:hover {
    border: 1px solid #009688;
    cursor:pointer;
}

